# Arquivos e pastas gerados pelo Node.js
node_modules/
npm-debug.log

# Arquivos de sessão do Baileys (MUITO IMPORTANTE)
# Contém credenciais de acesso ao WhatsApp!
auth/

# Arquivos de log
logs-base/
logs-inteligente/

# Arquivo de estado da conversa
userStates.json